
<!-- BEGIN PAGE TITLE -->
<style>
  #main-title-wrap, #main-title-undertext {
    text-align:center;
  }
</style>
<div id="top-content-divider">
  <div class="container">
    <div id="main-title-wrap"> <span class="icon-star"></span>Giới thiệu BMoto</div>
    <div id="main-title-undertext"></div>
  </div>
</div>
        
        <!-- END PAGE TITLE --> 
<!-- BEGIN PAGE CONTENT -->
<div class="container reservation-page-wrap">
  <div class="box_full"> 
     <div class="box_x">
     <div class="contact_info">
        <div style="margin-top:30px"><strong>BMoto – AN TÂM TRÊN MỌI NẺO ĐƯỜNG</strong></div>
      <div style="margin-top:30px">
          <strong style="color: #365899">CTY TNHH 3TV - Web2.HCMUS  </strong></div>
      <div>
        
        <strong> Số ĐKKD:</strong>  999999999 do Trường
        Đại học Khoa Học Tự Nhiên TPHCM cấp   </div>
          <div><strong> Địa chỉ:</strong>  227 Nguyễn Văn Cừ, Phường 4, Quận 5,TP. Hồ Chí Minh  </div>
          <div><strong>Điện thoại:</strong><a href="#">  0359 793 535 </a></div>                     
          <div><strong>Website:</strong> <a href="/">Trangchu</a></div> <br>
      </div>
     
     </div>
     <div class="box_y">
      <div style="margin:0">
      <div id="main-title-wrap"> <span class="icon-star"></span>Nhập thông tin</div>
      <div class="clear"></div>

      {{!-- LOGIN FORM --}}
      <form role="form" style="padding-top: 20px" action="/xacnhan" method="POST">
        <div class="form-group">
          <label ><span class="glyphicon glyphicon-user"></span> Tên</label>
          <input name="ten" type="text" class="form-control" placeholder="Nhập email">
        </div>
        <div class="form-group">
          <label for="psw"><span class="glyphicon glyphicon-phone"></span>SĐT</label>
          <input name="sdt" type="text" class="form-control" placeholder="Nhập mật khẩu">
        </div>

          <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok"></span> Đặt Xe</button>

      </form>
      {{!-- END LOGIN FORM --}}

    </div>
    

    </div>
    </div>

 </div>


<!--END PAGE CONTENT-->




