 <!--BEGIN FOOTER-->
  <footer>
        <div id="footer-wrap">
          <div class="container">
            <div id="prefooter-wrap">         
              <div style="clear:both"></div>
              
              <!-- BEFIN COPYRIGHT INFO -->
              <div id="copyright-wrap">
                <div id="copyright-text">
                  <p>
                    CTY TNHH 3TV - Web2.HCMUS <br />
                    Hotline hỗ trợ : 0359 793 535<br />
                    Số ĐKKD: 999999999 do Trường<br/>
                    Đại học Khoa Học Tự Nhiên TPHCM cấp <br />
                    Địa chỉ: 227 Nguyễn Văn Cừ, Phường 4, Quận 5,TP. Hồ Chí Minh
                  </p>
                  <p>Copyright © 2019. All right reserved. 
                  </p>
                </div>
              </div>
              <!-- END COPYRIGHT INFO --> 
              
            </div>
          </div>
        </div>
      </footer>
      <!-- END FOOTER -->      